body, html {
    height: 100%
}

body {
    background: #d9e0e7;
    font-size: 12px;
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #707478
}

.ie8 body {
    font-family: Arial, sans-serif
}


.navbar {
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .3);
    box-shadow: 0 0 2px rgba(0, 0, 0, .3)
}

.navbar.navbar-default {
    background: #fff
}

.navbar-brand {
    margin-right: 10px;
    padding: 12px 20px;
    height: 54px;
    width: 220px;
    font-weight: 100;
    font-size: 18px;
    line-height: 30px
}

.navbar.navbar-inverse {
    background: #2d353c
}

.navbar.navbar-inverse .navbar-brand, .navbar.navbar-inverse .navbar-nav > li > a {
    color: #a8acb1
}

.navbar-header .navbar-brand img{
    display: inline-block !important;
}

.navbar.navbar-inverse .navbar-form .form-control {
    /*background: url(../img/transparent/black-0.2.png);*/
    background: rgba(0, 0, 0, .2);
    border-color: #1F2429;
    border-color: rgba(0, 0, 0, .2);
    color: #a8acb1
}

.navbar-brand {
    margin-right: 10px;
    padding: 12px 20px;
    height: 54px;
    width: 220px;
    font-weight: 100;
    font-size: 18px;
    line-height: 30px
}

.navbar-default .navbar-brand {
    color: #333
}

.navbar-logo {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
    border: 10px solid transparent;
    border-color: #4DCACA #31A3A3 #1D8888;
    opacity: .9;
    filter: alpha(opacity=90)
}

.navbar-toggle {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: none
}

.navbar-toggle.pull-left {
    margin-left: 15px;
    margin-right: 0
}

.navbar-default .navbar-toggle .icon-bar {
    background: #333
}

.navbar-toggle:focus, .navbar-toggle:hover {
    background: 0 0 !important;
    opacity: .6;
    filter: alpha(opacity=60)
}

.navbar-nav > li > a {
    line-height: 20px;
    padding: 17px 15px
}

.navbar-default .navbar-nav > li > a {
    color: #585663
}

.navbar-nav > li > a:focus, .navbar-nav > li > a:hover {
    opacity: .6;
    filter: alpha(opacity=60)
}

.navbar-nav > .open > a, .navbar-nav > .open > a:focus, .navbar-nav > .open > a:hover {
    background: 0 0 !important;
    color: #333;
    opacity: 1;
    filter: alpha(opacity=100)
}

.navbar-form {
    margin: 12px 0
}

.fade .navbar-form .form-control {
    -webkit-animation: none
}

.navbar-form .form-control {
    width: 200px;
    padding: 5px 15px;
    height: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px
}

.navbar-form .form-control:focus {
    width: 300px;
    animation: expand .2s;
    -webkit-animation: expand .2s
}
